<section class="section background" data-aos="fade-up">
  <div class="section_title">Background</div>
  <div class="section_content">
    <p>
      I'm currently studying business informatics at
      <a class="underline-link" href="https://www.haw-hamburg.de/startseite.html" target="_blank">HAW Hamburg</a> and mastering
      my (web) development, economic and analytic skills.
    </p>
    <p>I've found my passion for design and development over the last few months and I am constantly working to improve it. 
      It gives me an incredible amount of pleasure to turn small set screws to make things perfect.</p>
    <p><strong> Outside the digital world</strong> I'm very family conscious and sports enthusiastic. Watching Football and supporting my team is a huge passion.</p>
  </div>
</section>
