<section class="section background" data-aos="fade-up">
  <div class="section_title">Background</div>
  <div class="section_content">
    <p>
      IT Consultant and Data Engineer with experience in the development and implementation of data pipelines.
    </p>
    <p>Currently I'm completing a part-time Master's degree in Applied Data Science to further improve my expertise in data science and expand my knowledge of working with data.</p>
    <p><strong> Outside the digital world</strong> I'm very family orientated and sports enthusiastic. Watching football and supporting my team is a huge passion.</p>
  </div>
</section>
