    <span class="emoji chomp"></span>
    <header class="intro">
  <h1 class="intro_hey">
    <span id="h1lGreetings" ></span>
    <span class="emoji goomba animated"></span>
  </h1>
  <h2 class="intro_tagline">
    My name is <span class="name">Bassel Nasser</span>, a Webdeveloper in
    constant development from beautiful Hamburg, Germany. <br> 
    </h2>
    <h2 class="intro_tagline">I create<br id="break">
      <span
         class="txt-rotate"
         data-period="2000"
         data-rotate='[ "simple", "beautiful", "responsive" ]'></span>
         websites.
    </h2>
  <h3 class="intro_contact">
    <span>Contact me</span>
    <span class="emoji chomp"></span>
    <span
      ><a href="mailto:bassel.nasser@haw-hamburg.de" class="link-1">{{site.email}}</a>
    </span>
  </h3>
</header>
